<div class="db-details">
  <h2>There are <%=@contacts.size%> contacts</h2>
</div>

<%@contacts.each do |contact| -%>
  <div class="contact">
  <h2><%="#{contact.first_name} #{contact.last_name}"%></h2>
  <h2>(<%=contact.email%>)</h2>
  <div class="alter_contact">
    <a href="/contacts/<%=contact.id%>/edit">Edit</a>  |
    <a href="/contacts/<%=contact.id%>">View</a>
  </div>
  </div>
<%end-%>
